<%= form_with model: [test_set, @question] do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>