<%= form_with model: [:admin, @badge] do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </p>

  <p>
    <%= form.label :filename %>
    <%= form.collection_radio_buttons(:filename, all_images, :first, :last) do |b| %>
      <%= b.label { b.radio_button + image_tag(b.text) } %>
    <% end %>
  </p>

  <p>
    <%= form.label :criteria %>
    <%= form.select :criteria,
                    Badge.criteria.keys.collect{ |criteria| [Badge.human_enum_name(:criteria, criteria), criteria] },
                    prompt: t('prompt', name: t('activerecord.attributes.badge.criteria')) %>
  </p>

  <p>
    <%= form.label :parameter %><br>
    <%= form.text_field :parameter %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>