<%= form_with model: [:admin, @badge] do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </p>

  <p>
    <%= form.collection_radio_buttons(:filename, [%w[completed.png completed], %w[first_try.png first_try], %w[backend.png backend]], :first, :last) do |b| %>
      <%= b.label { b.radio_button + image_tag(b.text+'.png') } %>
    <% end %>
  </p>

  <p>
    <%= form.collection_radio_buttons(:criteria, [[1, 'completed'] ,[2, 'first_try'], [3, 'backend']], :first, :last) do |b| %>
      <%= b.label { b.radio_button + b.text } %>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>