<h2><%= t('activerecord.models.gist.many') %></h2>

<table class="table table-striped">
  <thead>
    <tr class="table-info">
      <th><%= t('activerecord.attributes.gist.question_url')%></th>
      <th><%= t('activerecord.attributes.gist.gist_url')%></th>
      <th><%= t('activerecord.attributes.gist.email') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <%= render @gists %>

</table>
