<h2><%= t('.header') %></h2>

<table class="table table-striped">
  <thead>
    <tr class="table-info">
      <th><%= t('.question', title: nil)%></th>
      <th><%= t('.url', level: nil)%></th>
      <th><%= t('.email') %></th>
      <th colspan="4"><%= t('.delete') %></th>
    </tr>
  </thead>
  <%= render @gists %>

</table>
