<nav class="navbar navbar-light bg-light">
  <%= link_to t('.test_guru'), root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if current_user.is_a?(Admin) %>
      <%= link_to t('.admin_panel'), admin_tests_path %>
      <%= link_to t('.gists_list'), admin_gists_path %>
    <% end %>

    <% if user_signed_in? %>
      <%= t('.welcome')%>, <b><%= current_user.email %></b> <%= t('.guru')%> |
      <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.log_in'), new_session_path(resource_name) %> |
      <%= link_to t('.sign_up'), new_registration_path(resource_name) %>
    <% end %>
  </span>
</nav>
