<h1><%= t('.test', title: @result.test.title) %></h1>

<p><%= t('.total.questions', count: @result.test.questions.count) %></p>

<p><%= t('.current_question', question_id: @result.current_question.id ) %></p>

<p>
  <b><%= @result.current_question.body %></b>
</p>

<p><%= t('.answers') %></p>

<%= form_with url: result_path(@result), method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |c| %>
    <p>
      <%= c.check_box id: "answer_ids#{c.object.id}"%>
      <%= c.label %>
    </p>
  <% end %>

  <p><%= link_to t('.gist_question'), gists_path, method: :post %></p>
  <p> <%= form.submit t('.next') %></p>
<% end %>
