<h1><%= t('.header') %></h1>

<%= form_for :feedback, url: feedbacks_path do |form| %>
  <%= form.label t('.body'), class: 'card-title' %><br>
  <%= form.text_area :body, class: 'form-control' %><br>
  <%= form.submit t('.send'), class: 'btn btn-info' %>
<% end  %>
