<h2><%= t('.header') %></h2>

<p><%= link_to t('new', name: t('activerecord.models.test.one')), new_admin_test_path(@test) %></p>

<%= render 'shared/errors', resource: @test %>

<table class="table table-bordered border-info">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('activerecord.attributes.test.title')%>
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success' %>
      </th>
      <%= render 'shared/test_header' %>
      <th colspan="4" class="text-center"><%= t('actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>

</table>
