<h1><%= t('.title', title: @test.title )%></h1>

<h2><%= t('.level', level: @test.level )%></h2>

<%= link_to t('.question'), new_admin_test_question_path(@test) %>

<h2><%= t('.questions') %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('.body') %></th>
      <th colspan="3"><%= t('.actions') %></th>
    </tr>
  </thead>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<p><%= link_to t('edit'), edit_admin_test_path(@test) %></p>
<p><%= link_to t('back'), admin_tests_path %></p>