<h2><%= t('.header') %></h2>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.test.title') %></th>
      <%= render 'shared/test_header' %>
      <th class="text-center"><%= t('.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>

</table>
