<h1><%= @test.title %></h1>

<p>Level: <%= @test.level %></p>

<h2>Questions</h2>
<% @test.questions.each do |question| %>
  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>
<% end %>

<h2>Add a question:</h2>
<%= form_with model: [ @test, @test.questions.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>